.grid-container-1{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(5,1fr);
    height: 100vh;
    .grid-item-1{
        @include grid-column (2,5);
        @include grid-row (2,5);
        justify-self: center;
        align-self: center;
    }
}